.table-icon {
  margin-top: -2px
}

.accordion-chevron {
  transform: rotate(0deg);
}

[data-state="open"] .accordion-chevron {
  transform: rotate(180deg);
}

.accordionlist:hover .icon-in-list {
  color: #1e2939;
}